/SergioDanielHernandezCharpak - JavierAlejandroPerezFernandez - Taller - 4/WhiteboardApp/target/
/SergioDanielHernandezCharpak - JavierAlejandroPerezFernandez - Taller - 5/Taller5/nbproject/private/
/SergioDanielHernandezCharpak - JavierAlejandroPerezFernandez - Taller - 5/Taller5/build/
/SergioDanielHernandezCharpak - JavierAlejandroPerezFernandez - Taller - 5/Taller5/dist/
/SergioDanielHernandezCharpak - JavierAlejandroPerezFernandez - Taller - 7/flights/target/